body {
    font-size: 90%;
    font-family: Arial;
}

.highscore {
    color: purple;
}

.highscore:hover {
color: plum;
}

button {
    font-size: 100%;
    background-color: purple;
    color:white;
    padding: 4px 12px;
    border-radius: 10px;
}

button:hover { 
    background-color: plum;
}